body {
	width: 100vw;
	height: 100vh;
}

.main {
	width: 100vw;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 auto;
	padding: 25vh 25vw;
	row-gap: 1vh;
}

.container-name {
	font-size: 5em;
}

.accordion {
	font-size: 1.5em;
	max-width: 50vw;
	row-gap: 1vh;
}

.label {
	order: 1;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	transition: 0.3s;
	cursor: pointer;
	width: 100%;
	font-weight: 700;
}

.text {
	color: #1b32ff;
	transition: 0.3s;
}

.icon {
	display: flex;
	order: 3;
	width: 1vw;
	background-image: url('./open.svg');
	background-repeat: no-repeat;
	opacity: 0;
}

.first-line,
.second-line,
.third-line,
.fourth-line,
.fifth-line {
	display: none;
}

.radio:hover {
	display: flex;
	flex-direction: row;
}

.image {
	display: flex;
	order: 4;
	justify-content: space-around;
	cursor: pointer;
	width: 0;
	height: 0;
}

.block-1,
.block-2,
.block-3,
.block-4,
.block-5 {
	max-width: 100vw;
	padding: 1vh;
	border-top: 0.25vh solid rgb(206, 113, 7);
}

.first-line:checked + .text + .icon {
	background-image: url('./close.svg');
	background-repeat: no-repeat;
}

.second-line:checked + .text + .icon {
	background-image: url('./close.svg');
	background-repeat: no-repeat;
}

.third-line:checked + .text + .icon {
	background-image: url('./close.svg');
	background-repeat: no-repeat;
}

.fourth-line:checked + .text + .icon {
	background-image: url('./close.svg');
	background-repeat: no-repeat;
}

.fifth-line:checked + .text + .icon {
	background-image: url('./close.svg');
	background-repeat: no-repeat;
}

.line-wrap:has(> .first-line:checked) + .image {
	width: 100%;
	height: 25vh;
	transition: 0.3s;
}

.line-wrap:has(> .second-line:checked) + .image {
	width: 100%;
	height: 25vh;
	transition: 0.3s;
}

.line-wrap:has(> .third-line:checked) + .image {
	width: 100%;
	height: 25vh;
	transition: 0.3s;
}

.line-wrap:has(> .fourth-line:checked) + .image {
	width: 100%;
	height: 25vh;
	transition: 0.3s;
}

.line-wrap:has(> .fifth-line:checked) + .image {
	width: 100%;
	height: 25vh;
	transition: 0.3s;
}

.accordion:hover .text {
	color: #000000;
	transition: 0.3s;
}

.accordion:hover .icon {
	opacity: 1;
}

.line-wrap {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.first-line:checked + .text {
	color: #000000;
	transition: 0.3s;
}

.second-line:checked + .text {
	color: #000000;
	transition: 0.3s;
}

.third-line:checked + .text {
	color: #000000;
	transition: 0.3s;
}

.fourth-line:checked + .text {
	color: #000000;
	transition: 0.3s;
}

.fifth-line:checked + .text {
	color: #000000;
	transition: 0.3s;
}

.block-1:hover .image {
	width: 100%;
	height: 25vh;
	transition: 0.3s;
}

.block-1:hover .icon {
	background-image: url('./close.svg');
	background-repeat: no-repeat;
}

.block-2:hover .image {
	width: 100%;
	height: 25vh;
	transition: 0.3s;
}

.block-2:hover .icon {
	background-image: url('./close.svg');
	background-repeat: no-repeat;
}

.block-3:hover .image {
	width: 100%;
	height: 25vh;
	transition: 0.3s;
}

.block-3:hover .icon {
	background-image: url('./close.svg');
	background-repeat: no-repeat;
}

.block-4:hover .image {
	width: 100%;
	height: 25vh;
	transition: 0.3s;
}

.block-4:hover .icon {
	background-image: url('./close.svg');
	background-repeat: no-repeat;
}

.block-5:hover .image {
	width: 100%;
	height: 25vh;
	transition: 0.3s;
}

.block-5:hover .icon {
	background-image: url('./close.svg');
	background-repeat: no-repeat;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.label:hover {
	cursor: pointer;
	transition: 0.3s;
}

.line-wrap:hover .text {
	color: #000000;
	transition: 0.3s;
}

.label:active .text {
	color: #1b32ff;
	transition: 0.3s;
}

@media screen and (max-width: 1920px), (max-height: 1080px) {
	.container {
		margin: 0 auto;
		max-width: 100vw;
		max-height: 100vh;
		padding: 15vh 10vw;
	}

	.container-name {
		font-size: 4.5em;
	}

	.accordion {
		font-size: 2em;
		max-width: 100vw;
	}

	.icon {
		width: 3vw;
	}

	.block-1:hover .image {
		height: 20vh;
	}

	.block-2:hover .image {
		height: 20vh;
	}

	.block-3:hover .image {
		height: 20vh;
	}

	.block-4:hover .image {
		height: 20vh;
	}

	.block-5:hover .image {
		height: 35vh;
	}

	.line-wrap:has(> .first-line:checked) + .image {
		height: 20vh;
	}

	.line-wrap:has(> .second-line:checked) + .image {
		height: 20vh;
	}

	.line-wrap:has(> .third-line:checked) + .image {
		height: 20vh;
	}

	.line-wrap:has(> .fourth-line:checked) + .image {
		height: 20vh;
	}

	.line-wrap:has(> .fifth-line:checked) + .image {
		height: 35vh;
	}
}

@media screen and (max-width: 1180px), (max-height: 820px) {
	.container {
		margin: 0 auto;
		max-width: 100%;
		max-height: 100%;
		padding: 25vh 10vw;
	}

	.container-name {
		font-size: 3.5em;
	}

	.accordion {
		font-size: 2em;
		max-width: 100vw;
	}

	.icon {
		width: 5vw;
	}

	.block-1:hover .image {
		height: 15vh;
	}

	.block-2:hover .image {
		height: 15vh;
	}

	.block-3:hover .image {
		height: 15vh;
	}

	.block-4:hover .image {
		height: 15vh;
	}

	.block-5:hover .image {
		height: 30vh;
	}

	.line-wrap:has(> .first-line:checked) + .image {
		height: 15vh;
	}

	.line-wrap:has(> .second-line:checked) + .image {
		height: 15vh;
	}

	.line-wrap:has(> .third-line:checked) + .image {
		height: 15vh;
	}

	.line-wrap:has(> .fourth-line:checked) + .image {
		height: 15vh;
	}

	.line-wrap:has(> .fifth-line:checked) + .image {
		height: 30vh;
	}
}

@media screen and (max-width: 850px), (max-height: 700px) {
	.container {
		margin: 0 auto;
		max-width: 100%;
		max-height: 100%;
		padding: 25vh 10vw;
	}

	.container-name {
		font-size: 2em;
	}

	.accordion {
		font-size: 1em;
		max-width: 100vw;
	}

	.icon {
		width: 5vw;
	}

	.block-1:hover .image {
		height: 10vh;
	}

	.block-2:hover .image {
		height: 10vh;
	}

	.block-3:hover .image {
		height: 10vh;
	}

	.block-4:hover .image {
		height: 10vh;
	}

	.block-5:hover .image {
		height: 17vh;
	}

	.line-wrap:has(> .first-line:checked) + .image {
		height: 10vh;
	}

	.line-wrap:has(> .second-line:checked) + .image {
		height: 10vh;
	}

	.line-wrap:has(> .third-line:checked) + .image {
		height: 10vh;
	}

	.line-wrap:has(> .fourth-line:checked) + .image {
		height: 10vh;
	}

	.line-wrap:has(> .fifth-line:checked) + .image {
		height: 17vh;
	}
}

@media screen and (max-width: 475px), (max-height: 700px) {
	.container {
		margin: 0 auto;
		max-width: 100%;
		max-height: 100%;
		padding: 25vh 10vw;
	}

	.container-name {
		font-size: 2em;
	}

	.accordion {
		font-size: 0.8em;
		max-width: 100vw;
	}

	.icon {
		width: 5vw;
	}

	.block-1:hover .image {
		height: 7vh;
	}

	.block-2:hover .image {
		height: 7vh;
	}

	.block-3:hover .image {
		height: 7vh;
	}

	.block-4:hover .image {
		height: 7vh;
	}

	.block-5:hover .image {
		height: 10vh;
	}

	.line-wrap:has(> .first-line:checked) + .image {
		height: 7vh;
	}

	.line-wrap:has(> .second-line:checked) + .image {
		height: 7vh;
	}

	.line-wrap:has(> .third-line:checked) + .image {
		height: 7vh;
	}

	.line-wrap:has(> .fourth-line:checked) + .image {
		height: 7vh;
	}

	.line-wrap:has(> .fifth-line:checked) + .image {
		height: 10vh;
	}
}

@media screen and (max-width: 320px), (max-height: 568px) {
	.container {
		margin: 0 auto;
		max-width: 100%;
		max-height: 100%;
		padding: 25vh 10vw;
	}

	.container-name {
		font-size: 1.5em;
	}

	.accordion {
		font-size: 0.75em;
		max-width: 100vw;
	}

	.icon {
		width: 3vw;
	}

	/* .block-1:hover .image {
		height: 10vh;
	}

	.block-2:hover .image {
		height: 10vh;
	}

	.block-3:hover .image {
		height: 10vh;
	}

	.block-4:hover .image {
		height: 10vh;
	}

	.block-5:hover .image {
		height: 20vh;
	} */

	.line-wrap:has(> .first-line:checked) + .image {
		height: 5vh;
	}

	.line-wrap:has(> .second-line:checked) + .image {
		height: 5vh;
	}

	.line-wrap:has(> .third-line:checked) + .image {
		height: 5vh;
	}

	.line-wrap:has(> .fourth-line:checked) + .image {
		height: 5vh;
	}

	.line-wrap:has(> .fifth-line:checked) + .image {
		height: 5vh;
	}
}
